@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-hind-siliguri);
  font-size: 1.2rem;
}

h1,
h2 {
  font-family: var(--font-cormorant-garamond);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
